
@{
    ViewBag.Title = "ShowCatagery";
    Layout = "~/Views/AdminPage1.cshtml";
}

<link href="~/Class2/css/style.css" rel="stylesheet" />
<script src="~/Class2/js/jquery.min.js"></script>
<script src="~/Class2/js/bootstrap.min.js"></script>


<div class="content-wrapper">
    <div class="col-md-9">
        <div class="page-header">
            <h3 class="page-title">
                <span class="page-title-icon bg-gradient-primary text-white mr-2">
                    <i class="mdi mdi-crosshairs-gps menu-icon"></i>
                </span>
                菜肴操作
            </h3>
            <form class="d-flex align-items-center h-100" action="#">
                <div class="input-group">
                    <div class="input-group-prepend bg-transparent ">
                        <i class="input-group-text border-0 mdi mdi-magnify"></i>
                    </div>
                    <input type="text" class="form-control bg-transparent border-0" placeholder="Search projects">

                    <button class="btn btn-inverse-primary btn-fw" type="button" onclick="location.href='/Admin/AddDish'">添加菜色</button>
                    <button class="btn btn-inverse-primary btn-fw" type="button" onclick="location.href='/Admin/AddCatagery'">添加菜系</button>
                </div>
            </form>
        </div>
        <div class="row content_bottom">
            <div class="col-md-3">
                <div class="content_box">
                    <a href="/Admin/LookEvaluate">
                        <div class="view view-fifth ">
                            <img src="~/Class2/images/p1.jpg" class="img-responsive" alt="" />
                            <div class="content_box-grid">
                                <p class="m_1">好吃不贵便宜实惠</p>
                                <div class="price">
                                    价格:
                                    <span class="actual">23元</span>
                                </div>
                                <ul class="product_but">
                                    <li class="but3">修改</li>
                                    <li class="but3" style="float:right">删除</li>
                                    <div class="clearfix"> </div>
                                </ul>
                                <div class="mask">
                                    <div class="info">Quick View</div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="content_box">
                    <a href="single.html">
                        <div class="view view-fifth">
                            <img src="~/Class2/images/p4.jpg" class="img-responsive" alt="" />
                            <div class="content_box-grid">
                                <p class="m_1">好吃不贵便宜实惠</p>
                                <div class="price">
                                    价格:
                                    <span class="actual">23元</span>
                                </div>
                                <ul class="product_but">
                                    <li class="but3">修改</li>
                                    <li class="but3" style="float:right">删除</li>
                                    <div class="clearfix"> </div>
                                </ul>
                                <div class="mask">
                                    <div class="info">Quick View</div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="content_box">
                    <a href="single.html">
                        <div class="view view-fifth">
                            <img src="~/Class2/images/p3.jpg" class="img-responsive" alt="" />
                            <div class="content_box-grid">
                                <p class="m_1">好吃不贵便宜实惠</p>
                                <div class="price">
                                    价格:
                                    <span class="actual">23元</span>
                                </div>
                                <ul class="product_but">
                                    <li class="but3">修改</li>
                                    <li class="but3" style="float:right">删除</li>
                                    <div class="clearfix"> </div>
                                </ul>
                                <div class="mask">
                                    <div class="info">Quick View</div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="content_box">
                    <a href="single.html">
                        <div class="view view-fifth">
                            <img src="~/Class2/images/p2.jpg" class="img-responsive" alt="" />
                            <div class="content_box-grid">
                                <p class="m_1">好吃不贵便宜实惠</p>
                                <div class="price">
                                    价格:
                                    <span class="actual">23元</span>
                                </div>
                                <ul class="product_but">
                                    <li class="but3">修改</li>
                                    <li class="but3" style="float:right">删除</li>
                                    <div class="clearfix"> </div>
                                </ul>
                                <div class="mask">
                                    <div class="info">Quick View</div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="row content_bottom1">
            <div class="col-md-3">
                <div class="content_box">
                    <a href="single.html">
                        <div class="view view-fifth">
                            <img src="~/Class2/images/p8.jpg" class="img-responsive" alt="" />
                            <div class="content_box-grid">
                                <p class="m_1">好吃不贵便宜实惠</p>
                                <div class="price">
                                    价格:
                                    <span class="actual">23元</span>
                                </div>
                                <ul class="product_but">
                                    <li class="but3">修改</li>
                                    <li class="but3" style="float:right">删除</li>
                                    <div class="clearfix"> </div>
                                </ul>
                                <div class="mask">
                                    <div class="info">Quick View</div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="content_box">
                    <a href="single.html">
                        <div class="view view-fifth">
                            <img src="~/Class2/images/p7.jpg" class="img-responsive" alt="" />
                            <div class="content_box-grid">
                                <p class="m_1">好吃不贵便宜实惠</p>
                                <div class="price">
                                    价格:
                                    <span class="actual">23元</span>
                                </div>
                                <ul class="product_but">
                                    <li class="but3">修改</li>
                                    <li class="but3" style="float:right">删除</li>
                                    <div class="clearfix"> </div>
                                </ul>
                                <div class="mask">
                                    <div class="info">Quick View</div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="content_box">
                    <a href="single.html">
                        <div class="view view-fifth">
                            <img src="~/Class2/images/p6.jpg" class="img-responsive" alt="" />
                            <div class="content_box-grid">
                                <p class="m_1">好吃不贵便宜实惠</p>
                                <div class="price">
                                    价格:
                                    <span class="actual">23元</span>
                                </div>
                                <ul class="product_but">
                                    <li class="but3">修改</li>
                                    <li class="but3" style="float:right">删除</li>
                                    <div class="clearfix"> </div>
                                </ul>
                                <div class="mask">
                                    <div class="info">Quick View</div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="content_box">
                    <a href="single.html">
                        <div class="view view-fifth">
                            <img src="~/Class2/images/p5.jpg" class="img-responsive" alt="" />
                            <div class="content_box-grid">
                                <p class="m_1">好吃不贵便宜实惠</p>
                                <div class="price">
                                    价格:
                                    <span class="actual">23元</span>
                                </div>
                                <ul class="product_but">
                                    <li class="but3">修改</li>
                                    <li class="but3" style="float:right">删除</li>
                                    <div class="clearfix"> </div>
                                </ul>
                                <div class="mask">
                                    <div class="info">Quick View</div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <ul class="dc_pagination dc_paginationA dc_paginationA06">
            <li><a href="#">1</a></li>
            <li><a href="#" class="current">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">...</a></li>
            <li><a href="#">19</a></li>
            <li><a href="#">20</a></li>
            <li><a href="#" class="previous">Next></a></li>
            <li><a href="#" class="next">Last>></a></li>
        </ul>
    </div>
</div>
